:root {
  --dark-bg: #090909;
  --black-clr: rgb(22, 22, 22);
  --text-clr: #ffffff;
  --border: rgba(220, 220, 220, 0.5) solid 1px;
  --blue-color: #0ba4eb;
  --blue-border: var(--blue-color) solid 1px;
  --red-color: #f51919;
  --red-border: var(--red-color) solid 1px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background-color: var(--dark-bg);
  font-family: Arial, Helvetica, sans-serif;
}

section {
  position: relative;
  display: flex;
  min-height: 100vh;
}

#waves {
  aspect-ratio: 900/450;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;
}

svg .wave {
  animation: pathAnim 7s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

svg .wave:nth-child(2) {
  animation-delay: 2s;
}

svg .wave:nth-child(3) {
  animation-delay: 3s;
}

svg .wave:nth-child(4) {
  animation-play-state: paused;
}

.login-container,
.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  /* background-color: var(--black-clr); */
  /* border: white solid 1px; */
}

.login-form-container,
.register-form-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container .forms-field,
.register-form-container .forms-field {
  /* position: absolute; */
  width: 20em;
  text-align: center;
  z-index: 2;
  /* Ensure the input is above the SVG */
}

.login-form-container svg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  /* Ensure the SVG is below the input */
}

.title-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-card h1 {
  font-size: 8em;
  font-weight: bolder;
  line-height: 0.5em;
}

.title-card p {
  font-size: 1.8em;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5em 0.8em;
}

.auth-form {
  background-color: var(--dark-bg);
  color: var(--text-clr);
  padding: 0.5em 1em;
  border: var(--border);
  width: 100%;
  border-radius: 20px;
}

.login-container .login-btn {
  font-weight: bold;

  font-size: 1em;
  width: 100%;
  background-color: var(--text-clr);
  border-radius: 20px;
  transition: all 0.3s ease;
}

.login-container .login-btn:hover {
  background-color: var(--dark-bg);
  color: var(--text-clr);
  border: var(--border);
}

.register-btn {
  font-weight: bold;
  font-size: 1em;
  width: 100%;
  color: var(--blue-color);
  background-color: var(--dark-bg);
  border: var(--blue-border);
  border-radius: 20px;
  transition: all ease 0.3s;
}

.register-btn:hover {
  color: var(--dark-bg);
  background-color: var(--blue-color);
}

.terms {
  font-size: 0.69em;
}

.terms span {
  color: var(--blue-color);
}

#register-section {
  background-color: tomato;
  border: 1px solid #888;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.auth-form {
  width: 100%; /* Ensure the form inputs take the full width */
  padding: 0.5em;
  margin: 0.5em 0;
}
.register-modal {
  background-color: rgba(22, 24, 24, 0.3);
}
.register-form {
  background-color: var(--black-clr);
  padding-right: 6em;
  padding-left: 6em;
}

.sign-up-form {
  padding-top: 1em;
  padding-bottom: 1em;
}

.register-form {
  border-radius: 5px;
  background-color: var(--dark-bg);
  color: var(--text-clr);
  padding: 0.5em 1em;
  border: var(--border);
  width: 100%;
}

.register-form .disable-register-btn {
  font-weight: bold;
  font-size: 1em;
  width: 100%;
  color: var(--red-color);
  background-color: var(--dark-bg);
  border: var(--red-border);
  border-radius: 20px;
  transition: all ease 0.3s;
}

.register-form .enable-register-btn {
  font-weight: bold;
  font-size: 1em;
  width: 100%;
  color: var(--blue-color);
  background-color: var(--dark-bg);
  border: var(--blue-border);
  border-radius: 20px;
  transition: all ease 0.3s;
}

.register-form .error p {
  color: var(--red-color);
  margin: 0;
  font-size: 0.7em;
}

#otp {
  /* display: none; */
}

.otp-btn {
  font-weight: bold;
  font-size: 1em;
  width: 100%;
  color: var(--blue-color);
  background-color: var(--dark-bg);
  border: var(--blue-border);
  transition: all ease 0.3s;
  height: 100%;
}

.otp-p {
  margin: 0;
  font-size: 0.69em;
}
