body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background-color: #141414;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  position: relative;
  display: flex;
  min-height: 100vh;
}

#waves {
  aspect-ratio: 900/450;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;
}

svg .wave {
  animation: pathAnim 7s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

svg .wave:nth-child(2) {
  animation-delay: 2s;
}

svg .wave:nth-child(3) {
  animation-delay: 3s
}

svg .wave:nth-child(4) {
  animation-play-state: paused;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.login-form-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container .forms-field {
  position: absolute;
  width: 20em;
  text-align: center;
  z-index: 2;
  /* Ensure the input is above the SVG */
}

.login-form-container svg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  /* Ensure the SVG is below the input */
}

@keyframes pathAnim {
  0% {
      d: path("M0 368L16.7 363.3C33.3 358.7 66.7 349.3 100 352.2C133.3 355 166.7 370 200 377C233.3 384 266.7 383 300 377.8C333.3 372.7 366.7 363.3 400 359.5C433.3 355.7 466.7 357.3 500 361.3C533.3 365.3 566.7 371.7 600 375.8C633.3 380 666.7 382 700 383.8C733.3 385.7 766.7 387.3 800 381.5C833.3 375.7 866.7 362.3 883.3 355.7L900 349L900 451L883.3 451C866.7 451 833.3 451 800 451C766.7 451 733.3 451 700 451C666.7 451 633.3 451 600 451C566.7 451 533.3 451 500 451C466.7 451 433.3 451 400 451C366.7 451 333.3 451 300 451C266.7 451 233.3 451 200 451C166.7 451 133.3 451 100 451C66.7 451 33.3 451 16.7 451L0 451Z");
  }

  25% {
      d: path("M0 352L16.7 354C33.3 356 66.7 360 100 360.2C133.3 360.3 166.7 356.7 200 366.2C233.3 375.7 266.7 398.3 300 406.5C333.3 414.7 366.7 408.3 400 406.8C433.3 405.3 466.7 408.7 500 404.8C533.3 401 566.7 390 600 378.3C633.3 366.7 666.7 354.3 700 357.3C733.3 360.3 766.7 378.7 800 386.7C833.3 394.7 866.7 392.3 883.3 391.2L900 390L900 451L883.3 451C866.7 451 833.3 451 800 451C766.7 451 733.3 451 700 451C666.7 451 633.3 451 600 451C566.7 451 533.3 451 500 451C466.7 451 433.3 451 400 451C366.7 451 333.3 451 300 451C266.7 451 233.3 451 200 451C166.7 451 133.3 451 100 451C66.7 451 33.3 451 16.7 451L0 451Z");
  }

  50% {
      d: path("M0 439L16.7 437.8C33.3 436.7 66.7 434.3 100 435.2C133.3 436 166.7 440 200 439.3C233.3 438.7 266.7 433.3 300 433.7C333.3 434 366.7 440 400 443C433.3 446 466.7 446 500 443.2C533.3 440.3 566.7 434.7 600 434.3C633.3 434 666.7 439 700 439.7C733.3 440.3 766.7 436.7 800 437C833.3 437.3 866.7 441.7 883.3 443.8L900 446L900 451L883.3 451C866.7 451 833.3 451 800 451C766.7 451 733.3 451 700 451C666.7 451 633.3 451 600 451C566.7 451 533.3 451 500 451C466.7 451 433.3 451 400 451C366.7 451 333.3 451 300 451C266.7 451 233.3 451 200 451C166.7 451 133.3 451 100 451C66.7 451 33.3 451 16.7 451L0 451Z");
  }

  75% {
      d: path("M0 396L16.7 398.8C33.3 401.7 66.7 407.3 100 408.2C133.3 409 166.7 405 200 405.7C233.3 406.3 266.7 411.7 300 413.7C333.3 415.7 366.7 414.3 400 411.7C433.3 409 466.7 405 500 408.5C533.3 412 566.7 423 600 429C633.3 435 666.7 436 700 429C733.3 422 766.7 407 800 402C833.3 397 866.7 402 883.3 404.5L900 407L900 451L883.3 451C866.7 451 833.3 451 800 451C766.7 451 733.3 451 700 451C666.7 451 633.3 451 600 451C566.7 451 533.3 451 500 451C466.7 451 433.3 451 400 451C366.7 451 333.3 451 300 451C266.7 451 233.3 451 200 451C166.7 451 133.3 451 100 451C66.7 451 33.3 451 16.7 451L0 451Z");
  }

  90% {
      d: path("M0 409L16.7 412.8C33.3 416.7 66.7 424.3 100 423C133.3 421.7 166.7 411.3 200 407.3C233.3 403.3 266.7 405.7 300 408C333.3 410.3 366.7 412.7 400 413C433.3 413.3 466.7 411.7 500 409.3C533.3 407 566.7 404 600 405C633.3 406 666.7 411 700 414C733.3 417 766.7 418 800 418C833.3 418 866.7 417 883.3 416.5L900 416L900 451L883.3 451C866.7 451 833.3 451 800 451C766.7 451 733.3 451 700 451C666.7 451 633.3 451 600 451C566.7 451 533.3 451 500 451C466.7 451 433.3 451 400 451C366.7 451 333.3 451 300 451C266.7 451 233.3 451 200 451C166.7 451 133.3 451 100 451C66.7 451 33.3 451 16.7 451L0 451Z");
  }

  100% {
      d: path("M0 368L16.7 363.3C33.3 358.7 66.7 349.3 100 352.2C133.3 355 166.7 370 200 377C233.3 384 266.7 383 300 377.8C333.3 372.7 366.7 363.3 400 359.5C433.3 355.7 466.7 357.3 500 361.3C533.3 365.3 566.7 371.7 600 375.8C633.3 380 666.7 382 700 383.8C733.3 385.7 766.7 387.3 800 381.5C833.3 375.7 866.7 362.3 883.3 355.7L900 349L900 451L883.3 451C866.7 451 833.3 451 800 451C766.7 451 733.3 451 700 451C666.7 451 633.3 451 600 451C566.7 451 533.3 451 500 451C466.7 451 433.3 451 400 451C366.7 451 333.3 451 300 451C266.7 451 233.3 451 200 451C166.7 451 133.3 451 100 451C66.7 451 33.3 451 16.7 451L0 451Z");
  }

}

svg .blob {
  animation: blobAnim 3s linear infinite alternate;
}

@keyframes blobAnim {
  0% {
      d: path("M49.4,-52.9C57.5,-41.2,53.3,-20.6,52.8,-0.6C52.2,19.5,55.3,38.9,47.1,52.3C38.9,65.7,19.5,73,-0.2,73.2C-19.8,73.4,-39.7,66.5,-52.7,53.1C-65.8,39.7,-72,19.8,-72.5,-0.5C-73,-20.8,-67.7,-41.6,-54.7,-53.3C-41.6,-65.1,-20.8,-67.7,-0.1,-67.6C20.6,-67.5,41.2,-64.6,49.4,-52.9Z");
  }

  25% {
      d: path("M36,-42.5C45.5,-26.5,51.2,-13.3,52.1,0.9C52.9,15,48.9,29.9,39.4,45.1C29.9,60.3,15,75.7,-2.1,77.8C-19.1,79.8,-38.2,68.6,-52.5,53.4C-66.8,38.2,-76.2,19.1,-75.8,0.3C-75.5,-18.5,-65.4,-36.9,-51.2,-52.9C-36.9,-68.8,-18.5,-82.3,-2.6,-79.7C13.3,-77.1,26.5,-58.4,36,-42.5Z");
  }

  50% {
      d: path("M44.2,-47.1C56.1,-32.3,63.7,-16.2,65.7,1.9C67.6,20,63.9,40.1,52,53.5C40.1,66.8,20,73.6,1,72.5C-18,71.5,-35.9,62.7,-47.1,49.3C-58.4,35.9,-62.9,18,-59.7,3.2C-56.6,-11.6,-45.7,-23.3,-34.5,-38.1C-23.3,-52.9,-11.6,-70.8,2.3,-73C16.2,-75.3,32.3,-61.9,44.2,-47.1Z");
  }

  75% {
      d: path("M51.1,-48.7C66.4,-35.8,79.2,-17.9,78.3,-0.8C77.5,16.3,63.1,32.5,47.8,40.3C32.5,48.1,16.3,47.5,-0.3,47.9C-16.9,48.2,-33.9,49.5,-43.5,41.7C-53.1,33.9,-55.3,16.9,-55.9,-0.6C-56.5,-18.1,-55.4,-36.2,-45.8,-49.1C-36.2,-62,-18.1,-69.7,-0.1,-69.6C17.9,-69.5,35.8,-61.6,51.1,-48.7Z");
  }

  100% {
      d: path("M49.4,-52.9C57.5,-41.2,53.3,-20.6,52.8,-0.6C52.2,19.5,55.3,38.9,47.1,52.3C38.9,65.7,19.5,73,-0.2,73.2C-19.8,73.4,-39.7,66.5,-52.7,53.1C-65.8,39.7,-72,19.8,-72.5,-0.5C-73,-20.8,-67.7,-41.6,-54.7,-53.3C-41.6,-65.1,-20.8,-67.7,-0.1,-67.6C20.6,-67.5,41.2,-64.6,49.4,-52.9Z");
  }
}
svg .blob:nth-child(2) {
  animation-delay: 1s;
}

.title-container {
  position: relative;
}

.title-card {
  position: absolute;
  top: 20%;
  left: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2em;
}

.title-card h1 {
  font-size: 4.5rem;
  font-weight: bolder;
  line-height: .5em;
}

.title-card p {
  font-size: 1.8rem;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: .5em .8em;
}

#register-section {
display: flex;
flex-direction: row-reverse;
}