:root {
  --bg-color: #141414;
  --bg-color1: #282828;
  --text-color: #fff;
}
body {
  background-color: #141414;
  color: #fff;
}

#profile-container {
  position: relative;
  top: 4em;
}

.profile-header {
  background-color: #282828;
  height: fit-content;
  border-radius: 10px;
  padding: 0.5em;
}

.bg-img img {
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 400px;
  border-radius: 10px;
}

.profile-info {
  position: relative;
}

.profile-info .profile-img {
  width: 150px;
  height: 150px;
  display: inline-block;
  position: absolute;
  left: 10%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/* The user Icon */

.content-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

#bio-form {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.bio-section h4 {
  color: var(--text-color);
}

.bio-section {
  background-color: var(--bg-color1);
  border-radius: 10px;
  padding: 1.2em;
}

#add-bio-btn {
  background-color: transparent;
  color: var(--text-color);
  border: none;
}

.profile-stat {
  color: var(--text-color);
  border-top: rgba(255, 255, 255, 0.5) solid 1px;
  border-bottom: rgba(255, 255, 255, 0.5) solid 1px;
  padding-top: 1em;
  padding-bottom: 1em;
}

.edit-profile-btn {
  background-color: transparent;
  color: var(--text-color);
}

#open-post-btn {
  background-color: transparent;
  border: white solid 1px;
  padding: 0.7em;
  border-radius: 10px;
  color: var(--text-color);
  font-weight: 500;
  transition: all 0.3s ease;
}

#open-post-btn:hover {
  background-color: white;
  color: #141414;
}
