:root {
  --black-secondary: #282828;
  --black-primary: #090909;
  --text-clr: #f5fefd;
  --border: rgba(220, 220, 220, 0.5) solid 1px;
}

body {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  background-color: var(--black-primary);
  overflow-x: hidden;
}

.searchbar {
  background-color: var(--black-primary);
}

.for-you {
  background-color: rgba(9, 9, 9, 0.5);
}
