:root {
  --black-secondary: #282828;
  --black-primary: #141414;
  --text-clr: #f5fefd;
}

body {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  background-color: var(--black-primary);
}

.community-post-card {
  background-color: var(--black-secondary);
  margin-top: 1rem;
  min-width: min-content;
}

#discover-post {
  position: relative;
  top: 3.5em;
}

.post-author-date {
  display: flex;
  align-items: center;
}

.post-author-date > * {
  margin-right: 0.5rem;
}

.card {
  border: none !important;
}

#card-footer button {
  color: var(--text-clr);
}

.community-name {
  color: var(--text-clr);
  text-decoration: none;
}

.author-name {
  font-weight: 400;
  font-size: 0.875rem;
}

.meta-btn {
  font-size: 0.875rem;
}

.community-header {
  background-color: #282828;
  color: white;
  padding: 0.5em;
}

.community-header .bg-img img {
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 200px;
  border-radius: 10px;
}

.community-header .community-info {
  padding: 0.5em;
  margin: 0;
}

.community-info {
  position: relative;
}

.community-img {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: absolute;
  left: 10%;
  transform: translate(-50%, -55%);
  border-radius: 50%;
}

.community-post .row {
  display: flex;
  justify-content: center;
  /* width: 100%; */
}

.community-post .col {
  width: 100%;
}

/* Create COmmunity post BTN */

#create-community-post,
.community-btn:hover {
  background-color: transparent;
  color: var(--text-clr);
  padding: 0.7em;
  border: var(--text-clr) solid 1px;
  border-radius: 10px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.community-btn {
  background-color: white;
  color: black;
  font-weight: 500;
  padding: 0.7em;
  transition: all 0.3s ease;
}

#create-community-post:hover {
  background-color: white;
  color: black;
  font-weight: 500;
}

.community-info a {
  text-decoration: none;
}

#rightbar {
  height: 100vh;
  overflow-y: scroll;
}

/* Media Query */
@media all and (max-width: 970px) {
  #sidebar {
    display: none;
  }

  #main-content {
    width: 100%;
  }

  #rightbar {
    display: none;
  }
}
