:root {
  --text-clr: #fff;
  --bg-color1: #141414;
  --bg-color2: #282828;
}

body {
  background-color: #141414;
  color: var(--text-clr);
}

#friend-sidebar {
  position: fixed;
  max-width: 15%;
  height: 100vh;
  border-right: rgba(255, 255, 255, 0.5) solid 1px;
  /* color: #74e39a; */
}

.friend-btn {
  color: var(--text-clr);
  border: white solid 1px;
  padding: 0.5em;
  border-radius: 10px;
}

#main-content {
  position: relative;
  width: 70%;
}
@media all and (max-width: 970px) {
  #sidebar {
    display: none;
  }

  #main-content {
    width: 100%;
  }
}
