:root {
  --text-clr: #fff;
}

body {
  background-color: #141414;
  color: var(--text-clr);
}

#sidebar,
#main-content {
  top: 5.5rem;
}

#sidebar {
  position: fixed;
  max-width: 20%;
  color: #74e39a;
}

#main-content {
  position: relative;
  width: 60%;
}
@media all and (max-width: 970px) {
  #sidebar {
    display: none;
  }

  #main-content {
    width: 100%;
  }
}
