#content {
  background-color: #141414;
  height: 60dvh;
  color: white;
}

#modal-header,
#modal-footer {
  background-color: #282828;
}

#modal-header {
  border-bottom: solid white 0.5px;
}

#modal-footer {
  border-top: solid white 1px;
}

#modal-header h4 {
  color: white;
}

#post-btn,
#update-post-btn {
  background-color: white;
}

#post-form,
#update-post-form {
  background-color: #141414;
  border: none;
  color: white;
}
