:root {
  --dark-bg: #090909;
  --black-clr: rgb(22, 22, 22);
  --text-clr: #ffffff;
  --border: rgba(220, 220, 220, 0.5) solid 1px;
  --blue-color: #0ba4eb;
  --blue-border: var(--blue-color) solid 1px;
}

#content {
  /* background-color: #141414; */
  height: fit-content;
  color: white;
}

#modal-header,
#modal-footer {
  background-color: var(--dark-bg);
}

#modal-header {
  border-bottom: solid white 0.5px;
}

#modal-footer {
  border-top: solid white 1px;
}

#modal-header h4 {
  color: white;
}

#post-btn,
#update-post-btn {
  background-color: var(--dark-bg);
  border: var(--blue-border);
  color: var(--blue-color);
}

#post-form,
#update-post-form {
  background-color: var(--dark-bg);
  color: white;
}

#post-form::placeholder {
  color: white;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
}

#image-preview {
  aspect-ratio: 16/9;
}

#image-preview img {
  width: 100%;
  background-size: cover;
  background-position: center;
  object-fit: fill;
}

.edit-name,
.community-desc {
  background-color: transparent;
  border: white solid 1px;
  color: var(--text-color);
}

.edit-name:focus,
.community-desc:focus {
  color: var(--text-color);
  background-color: transparent;
  border: white solid 1px;
}

#update-community-post-form {
  background-color: var(--dark-bg);
  border: var(--border);
  color: var(--text-clr);
}

#update-community-post-btn {
  color: var(--blue-color);
  border: var(--blue-border);
}

#update-profile-btn {
  color: var(--blue-color);
  border: var(--blue-border);
}

#update-community-btn {
  color: var(--blue-color);
  border: var(--blue-border);
}
