:root {
  --text-color: #f5fefd;
  --black-color1: #090909;
  --black-color2: #282828;
  --border: rgba(220, 220, 220, 0.5) solid 1px;
}

body {
  background-color: var(--black-color1);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* All */
#sidebar,
#rightbar,
#main-content {
  padding-top: 4rem;
}

/* Main Content */
#main-content {
  position: relative;
  width: 35%;
}

#main-content #post-bar #add-post-btn {
  background: transparent;
  border: var(--border);
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}

#main-content #post-bar #add-post-btn:hover {
  background: white;
  border: black solid 1px;
  color: black;
}

/* Post Bar */
#post-bar {
  background-color: transparent;
}

#post-container {
  color: white;
}

/* Side Bar */
#sidebar {
  position: fixed;
  max-width: fit-content;
  border-right: rgba(255, 255, 255, 0.2) solid 1px;
  height: 100vh;
  padding-right: 2em;
}

#sidebar .nav-item a {
  font-size: 1rem;
  color: var(--text-clr);
}

#sidebar .nav-item a:hover {
  font-weight: bold;
}

/* Right bar */
#rightbar {
  position: fixed;
  width: 20%;
  right: 0;
  color: #fff;
}

/* Friend Bar And Community*/

#rightbar #communitybar {
  border-top: rgba(255, 255, 255, 0.3) solid 1px;
  padding: 0.8em;
  height: 100%;
}

#friendbar #friend-side-nav,
#communitybar #community-side-nav {
  padding: 0.8em;
}

#friendbar #friend-side-nav .nav-item,
#communitybar #community-side-nav .nav-item {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

#friendbar #friend-side-nav a,
#communitybar #community-side-nav a {
  text-decoration: none;
}

#friendbar #friend-side-nav .buddy-name-container,
#communitybar #community-side-nav .community-name-container {
  display: flex;
  align-items: center;
  color: var(--text-color);
}

#friendbar #friend-side-nav .buddy-name,
#communitybar #community-side-nav .community-name {
  color: var(--text-color);
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
}

#friendbar #friend-side-nav .buddy-name:hover,
#communitybar #community-side-nav .community-name:hover {
  font-weight: bold;
}

#friend-bar-title,
#community-bar-title {
  color: #f5fefd;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

/* FriendBar */

#rightbar #friendbar {
  padding: 0.8em;
}

/* COmmunity Bar */

#communitybar #community-btn {
  background-color: transparent;
  color: blue;
  font-size: 0.875rem;
  border: none;
}
.menu-btn {
  list-style: none;
}
.menu-btn button {
  color: var(--text-color);
  list-style: none;
}

.menu-option {
  background-color: var(--black-color2);
}

#post-form {
  color: var(--text-color);
  border: var(--text-color) solid 1px;
}

#rightbar {
  height: 100vh;
  position: fixed;
  right: 0;
  overflow-y: hidden;
}

#rightbar:hover {
  overflow-y: scroll; /* Show the scrollbar when hovering over the rightbar */
}

/* Define the scrollbar styles for WebKit browsers (Chrome, Safari) */
#rightbar::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

#rightbar::-webkit-scrollbar-track,
.searchbar-content::-webkit-scrollbar-track {
  background-color: transparent;
}

#rightbar::-webkit-scrollbar-thumb,
.searchbar-content::-webkit-scrollbar-track {
  background-color: var(--black-color2);
  border-radius: 3px;
}

.recommend-div {
  border: var(--border);
  background-color: transparent;
  padding: 0;
  /* border-radius: 10px; */
  /* padding: 1rem; */
  /* margin-top: 1rem; */
  /* height: fit-content; */
}

.recommend-card img {
  text-align: center;
  object-fit: fill;
  width: 50%;
  aspect-ratio: 3/4;
}

.recommend-card .carousel-inner {
  border-radius: 10px;
  background-color: var(--black-color1);
  /* display: flex;*/
  position: relative;
  /* justify-content: space-around; */
}

.recommend-card .recommend-info {
  position: absolute;
  bottom: -100%;
  height: 30%;
  left: 0;
  right: 0;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  background-color: var(--black-color1);
  transition: 0.3s ease-in-out; /* Add a smooth transition effect */
  color: var(--text-color);
  opacity: 0; /* Initially hidden */
}

.carousel-inner:hover .recommend-info {
  bottom: 0;
  opacity: 0.7;
}

/* Media Query */
@media all and (max-width: 970px) {
  #sidebar {
    display: none;
  }

  #main-content {
    width: 100%;
  }

  #rightbar {
    display: none;
  }
}
