:root {
  --text-color: #f5fefd;
}

body {
  background-color: #141414;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* All */
#sidebar,
#rightbar,
#main-content {
  top: 4rem;
}

/* Main Content */
#main-content {
  position: relative;
  width: 35%;
}

#main-content #post-bar #add-post-btn {
  background: transparent;
  border: white solid 1px;
  border-radius: 10px;
}

#main-content #post-bar #add-post-btn:hover {
  background: white;
  border: black solid 1px;
  border-radius: 10px;
  color: black;
}

/* Post Bar */
#post-bar {
  background-color: #282828;
  border-radius: 10px;
}

#post-container {
  color: white;
}

/* Side Bar */
#sidebar {
  position: fixed;
  max-width: fit-content;
  border-right: rgba(255, 255, 255, 0.2) solid 1px;
  height: 100vh;
  padding-right: 2em;
}

#sidebar .nav-item a {
  font-size: 1rem;
  color: var(--text-clr);
}

#sidebar .nav-item a:hover {
  font-weight: bold;
}

/* Right bar */
#rightbar {
  position: fixed;
  width: 20%;
  right: 0;
  color: #fff;
}

/* Friend Bar And Community*/

#rightbar #communitybar {
  border-top: rgba(255, 255, 255, 0.3) solid 1px;
  padding: 0.8em;
}

#friendbar #friend-side-nav,
#communitybar #community-side-nav {
  padding: 0.8em;
}

#friendbar #friend-side-nav .nav-item,
#communitybar #community-side-nav .nav-item {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

#friendbar #friend-side-nav a,
#communitybar #community-side-nav a {
  text-decoration: none;
}

#friendbar #friend-side-nav .buddy-name-container,
#communitybar #community-side-nav .community-name-container {
  display: flex;
  align-items: center;
}

#friendbar #friend-side-nav .buddy-name,
#communitybar #community-side-nav .community-name {
  color: var(--text-color);
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
}

#friendbar #friend-side-nav .buddy-name:hover,
#communitybar #community-side-nav .community-name:hover {
  font-weight: bold;
}

#friend-bar-title,
#community-bar-title {
  color: #f5fefd;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

/* FriendBar */

#rightbar #friendbar {
  padding: 0.8em;
}

/* COmmunity Bar */

#communitybar #community-btn {
  background-color: transparent;
  color: blue;
  font-size: 0.875rem;
  border: none;
}

/* Media Query */
@media all and (max-width: 970px) {
  #sidebar {
    display: none;
  }

  #main-content {
    width: 100%;
  }

  #rightbar {
    display: none;
  }
}
