:root {
  --text-clr: #f5fefd;
  --black-color1: #090909;
  --black-color2: #090909;
  --black-color3: rgb(20, 23, 26);
  --border: rgba(220, 220, 220, 0.5) solid 1px;
  --dark-bg: #090909;
  --black-clr: rgb(22, 22, 22);
  --text-clr: #ffffff;
  --border: rgba(220, 220, 220, 0.5) solid 1px;
  --blue-color: #0ba4eb;
  --blue-border: var(--blue-color) solid 1px;
  --red-color: #f51919;
  --red-border: var(--red-color) solid 1px;
  --blue-bg: rgba(29, 161, 242, 0.2);
  --blue-txt: rgb(29, 161, 242);
  --green-bg: rgba(37, 211, 102, 0.2);
  --green-txt: rgb(37, 211, 102);
  --red-bg: rgba(255, 0, 0, 0.2);
  --red-txt: rgb(255, 0, 0);
  --yellow-bg: rgba(255, 252, 0, 0.2);
  --yellow-text: rgb(255, 252, 0);
}

body {
  background-color: var(--black-color1);
  overflow-x: hidden;
}

.community-post-card {
  border: var(--border);
  background-color: transparent;
  min-width: min-content;
}

.community-header {
  background-color: var(--black-color2);
  border: var(--border);
  border-radius: 10px;
  color: white;
  padding: 0.5em;
}

.community-header .bg-img img {
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 400px;
  border-radius: 10px;
}

.community-header .community-info {
  padding: 0.5em;
  margin: 0;
}

.community-info {
  position: relative;
}

.community-img {
  width: 150px;
  height: 150px;
  display: inline-block;
  position: absolute;
  left: 10%;
  transform: translate(-50%, -55%);
  border-radius: 50%;
}

.community-post .row {
  display: flex;
  justify-content: center;
  /* width: 100%; */
}

.community-post .col {
  width: 100%;
}

/* Create COmmunity post BTN */

#create-community-post,
.community-btn:hover {
  background-color: transparent;
  color: var(--text-clr);
  padding: 0.7em;
  border: var(--text-clr) solid 1px;
  border-radius: 10px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.community-btn {
  background-color: white;
  color: black;
  font-weight: 500;
  padding: 0.7em;
  transition: all 0.3s ease;
}

#create-community-post:hover {
  background-color: white;
  color: black;
  font-weight: 500;
}

/* Description Container */

.desc-container {
  background-color: var(--black-color3);
  padding: 1.2em;
  border-radius: 10px;
}

.desc-container textarea {
  background-color: #141414;
  padding: 0.5em;
  border-radius: 10px;
  border: white solid 1px;
  color: white;
}

.desc-container textarea:focus {
  background-color: #141414;
  padding: 0.5em;
  border-radius: 10px;
  border: white solid 1px;
  color: white;
}

.post-author-date {
  display: flex;
  align-items: center;
}

.post-author-date > * {
  margin-right: 0.5rem;
}

.community-stat {
  border-top: rgba(245, 254, 253, 0.5) solid 1px;
  border-bottom: rgba(245, 254, 253, 0.5) solid 1px;

  padding-top: 1em;
  padding-bottom: 1em;
}
.community-stat .stat {
  font-size: 1.2rem;
  color: var(--text-clr);
}

#community-nav {
  background-color: var(--black-color3);
  padding: 1.2em;
  border-radius: 10px;
  color: var(--text-clr);
}

#community-nav .nav-item {
  list-style: none;
  transition: all 0.3s ease;
}

#community-nav .nav-item:hover {
  font-weight: 500;
}

#community-nav .community-name {
  color: var(--text-clr);
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

#community-nav a {
  text-decoration: none;
}

.community-name {
  color: var(--text-clr);
  text-decoration: none;
}

#rightbar {
  position: relative;
  right: 0;
}

.author-name {
  font-weight: 400;
  font-size: 0.875rem;
}

.post-menu-btn {
  width: 100%;
}

.comment-author-date {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.author-name a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}

.comment-author-date > * {
  margin-right: 0.5rem;
}

.nav-item a {
  color: var(--text-clr);
}

#top-members-nav {
  background-color: var(--black-color3);
  padding: 1.2em;
  border-radius: 10px;
}

#top-members-nav .nav-item {
  list-style: none;
  transition: all 0.3s ease;
}

#top-members-nav .nav-item:hover {
  font-weight: 500;
}

#community-container .right-bar {
  padding-bottom: 3em;
  position: sticky;
  top: 4rem; /* Adjust this value based on your design */
  height: 100vh; /* Adjust this value based on your design */
  overflow-y: scroll; /* Allow the content to scroll if it exceeds the height */
}

#community-container .right-bar::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

/* Define the scrollbar track */
#community-container .right-bar::-webkit-scrollbar-track {
  display: none;
}

.like,
.comment,
.unlike,
.delete,
.edit {
  transition: all ease 0.3s;
}

.like:hover,
.comment:hover,
.unlike:hover,
.delete:hover,
.edit:hover {
  padding: 0.3em;
  border-radius: 50%;
}

.like:hover {
  background-color: var(--blue-bg);
  color: var(--blue-txt);
}

.comment:hover {
  background-color: var(--green-bg);
  color: var(--green-txt);
}

.unlike:hover {
  background-color: var(--red-bg);
  color: var(--red-txt);
}

.delete:hover {
  background-color: var(--red-bg);
  color: var(--red-txt);
}

.edit:hover {
  background-color: var(--yellow-bg);
  color: var(--yellow-txt);
}

.post-menu {
  display: none;
  border: var(--blue-border);
  color: var(--text-clr);
  list-style: none;
  border-radius: 20px;
}

.post-menu ul li button {
  color: var(--text-clr);
}

.options {
  display: flex;
}
