:root {
  --text-clr: #f5fefd;
}

#community-container {
  position: relative;
  top: 4em;
}

.community-post-card {
  background-color: #282828;
  margin-top: 1rem;
  min-width: min-content;
}

.community-header {
  background-color: #282828;
  color: white;
  padding: 0.5em;
}

.community-header .bg-img img {
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 400px;
  border-radius: 10px;
}

.community-header .community-info {
  padding: 0.5em;
  margin: 0;
}

.community-info {
  position: relative;
}

/* .community-profile {
  width: 150px;
  height: 150px;
  display: inline-block;
  position: absolute;
  left: 10%;
  transform: translate(-50%, -50%);
} */

.community-img {
  width: 150px;
  height: 150px;
  display: inline-block;
  position: absolute;
  left: 10%;
  transform: translate(-50%, -55%);
  border-radius: 50%;
}

.community-post .row {
  display: flex;
  justify-content: center;
  /* width: 100%; */
}

.community-post .col {
  width: 100%;
}

/* Create COmmunity post BTN */

#create-community-post,
.community-btn:hover {
  background-color: transparent;
  color: var(--text-clr);
  padding: 0.7em;
  border: var(--text-clr) solid 1px;
  border-radius: 10px;
  font-weight: 500;
}

.community-btn {
  background-color: white;
  color: black;
  font-weight: 500;
  padding: 0.7em;
}

#create-community-post:hover {
  background-color: white;
  color: black;
  font-weight: 500;
}

/* Description Container */

.desc-container {
  background-color: #282828;
  padding: 1.2em;
  border-radius: 10px;
}

.desc-container textarea {
  background-color: #141414;
  padding: 0.5em;
  border-radius: 10px;
  border: white solid 1px;
  color: white;
}

.desc-container textarea:focus {
  background-color: #141414;
  padding: 0.5em;
  border-radius: 10px;
  border: white solid 1px;
  color: white;
}

.post-author-date {
  display: flex;
  align-items: center;
}

.post-author-date > * {
  margin-right: 0.5rem;
}

.community-stat {
  border-top: rgba(245, 254, 253, 0.5) solid 1px;
  border-bottom: rgba(245, 254, 253, 0.5) solid 1px;

  padding-top: 1em;
  padding-bottom: 1em;
}
.community-stat .stat {
  font-size: 1.2rem;
  color: var(--text-clr);
}

#community-nav {
  background-color: #282828;
  padding: 1.2em;
  border-radius: 10px;
  color: var(--text-clr);
}

#community-nav .nav-item {
  list-style: none;
}

#community-nav .community-name {
  color: var(--text-clr);
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

#community-nav a {
  text-decoration: none;
}

.community-name {
  color: var(--text-clr);
  text-decoration: none;
}

#rightbar {
  position: relative;
  right: 0;
}

.author-name {
  font-weight: 400;
  font-size: 0.875rem;
}

.post-menu-btn {
  width: 100%;
}

.comment-author-date {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.author-name a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}

.comment-author-date > * {
  margin-right: 0.5rem;
}
